

.details-head{
	display: inline-block;
    background-color: #F7F7F7;
    padding: 15px 30px;
    width: 100%;
    margin-bottom: 25px;
    font-weight: 500;
    color: #444;
}

.text-count{
    margin: 5px 0px;
}

.report-wrapper{
	height: 83vh;
    overflow-y: scroll;
    position: relative;
}

.form-wrapper{
    margin: 0px 10px;
}

.grp-spacing{
  margin-top: 10px;
  margin-bottom: 30px;
}

.lastgrp-spacing{
	margin-bottom: 0px !important;
}

/*inputfield css width-100% */

.input-mod{
  font-size:16px;
  font-weight: 500;
  padding:5px 10px 10px 0px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #555;
  background-color: transparent !important;

}
.input-mod:focus{ 
	outline:none; 
}

.label {
  color:#555; 
  font-size:14px;
  font-weight:400 ;
  position:absolute;
  top:10px;
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
  padding-left: 0px !important;
	pointer-events: none;
}

.input-mod:focus ~ .label, .input-mod:valid ~ .label        {
  top:-15px;
  font-size:12px;
  font-weight: 500;
  color:#744BBB;  
  border-bottom:0px;

  transition:0.3s ease all; 
}

.bar    { 

  position:relative; 
  display:block; 
  width:100%; 
}

.bar:before, .bar:after{
  content:'';
  height:2px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#744BBB; 
}

.input-mod:focus ~ .bar:before, .input-mod:focus ~ .bar:after {
  width:100%;
}

/*end*/

/*IPO Name Field CSS Classes*/


.ipo-input{
  font-size:24px;
  font-weight: 500;
  padding:5px 10px 10px 0px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #555;
  background-color: transparent;
  padding-left: 0px !important;

}
.ipo-input:focus{ 
  outline:none; 
}

.iponame-text {
  color:#555; 
  font-size:22px;
  font-weight:400 ;
  position:absolute;
  top:8px;
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
  margin: 0px;
}

.ipo-input:focus ~ .label, .ipo-input:valid ~ .label        {
  top:-15px;
  font-size:12px;
  font-weight: 500;
  color:#744BBB;  
  border-bottom:0px;
}

.ipobar-bar{ 

  position:relative; 
  display:block; 
  width:100%; 
}

.ipobar-bar:before, .ipobar-bar:after{
  content:'';
  height:2px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#744BBB; 
}

.ipo-input:focus ~ .ipobar-bar:before, .ipo-input:focus ~ .ipobar-bar:after {
  width:100%;
}

/*end*/



.input-mod{
    resize: none;
}

.form-button{
	margin-bottom:30px; 
}

.table-wrapper{
	margin-bottom: 20px;
	width: 100%;
    overflow: auto;
}

.table thead tr th{ 
    background-color: #F1E9FF;
    text-align: center;
    font-size: 16px;
    color: #7444bb;
  padding: 20px;
  vertical-align: middle;
  border: none;
}


.table  tr th:first-child{
	text-align: left;
	border-right: 4px solid #fff;
  padding: 20px ; 
}


.table tbody tr td{
	padding: 20px;
    text-align: center;
    border-bottom:1px solid #DDDEDE !important; 
    font-size: 16px;
    border: none;

}

.table  tr td:first-child{
    text-align: left;
    padding: 20px;
}

.table-input{
	border-bottom: 1px solid #000 !important;
    border: none;
    font-weight: 500;
    font-size: 16px;
        width: 100%;
}
.table-input:focus{
	outline:none;
}


.report-checkbox{
	display: none;
}

.side-title{
	font-size: 24px;
	font-weight: 300;
	margin: 0px;
	padding: 0px 20px;
}

.button-suptxt {
    color: #744BBB;
     font-size: 16px; 
     display:inline-block; 
    padding-left: 10px;
    vertical-align: middle;
    margin-top: 5px;
}


.title-list {
    margin: 30px 0px;
    padding: 0px;
    margin-bottom: 0px;
}

.title-list li{
	display: block;
    padding: 8px 20px;
    font-size: 16px;
    margin-bottom: 15px;
}

.title-list li p{
	width: 68%;
    display: inline-block;
    margin: 0px;
}

.title-list li .material-icons{
	float: right;
}


.scroll-box {
position: relative;
}

.active-title {
	border-left: 3px solid #744BBB;
	font-weight: 500;
	color: #744BBB;
}

.titletick-color{
	color: #d7d7d7;
}
.completed-title{
	color: #00D89D !important;
}
.title-button {
    padding: 15px 0px 8px 20px;
    outline: none;
     margin-top: 0vh; 
    display: inline-block;
}

/*report completed*/


.report-completed{    
	margin: 30px 0px;;
    padding: 0px;
    text-align: center;
    background-color: #00d89d;
    padding: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    transition: 0.5s;
     /*display: none; */
 }


.price-band{
    margin: 0px;
    padding-bottom: 0px;
}

.price-bandinput{
  	width: 30%;
    display: inline-block;
    margin: 0px 10px;
    padding-bottom: 0px;
}


.dropdown-mod{
	border-bottom: 1px solid #333 !important;
    background: none;
    border: none;
    border-radius: 0px;
    padding-left: 0px;
    margin-right: 50px;
    font-size: 14px;
}


.btn-default:active:focus, .btn-default:active:hover,
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
	color: #333;
    background-color: transparent;
    border-color: transparent;
}

.btn:active {
    background-image: none;
    outline: 0;
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);*/
     box-shadow: none !important; 
}

.dropdown-menu li{
	width: 100px;
    padding: 6px;
    border-bottom: 1px solid #DDDEDE;
}

.dropdown-menu li:hover{
background-color: #7444bb;
    color: #fff;
}


.dropdown-menu {
    left: 16px !important;
     min-width: auto !important; 
    background-color: #fff;
     border: none;
}

.head-icon{
	width: 40px;
    font-size: 32px;
    vertical-align: text-bottom;
    font-weight: 500;
    color: #7444bb;
    padding: 0px 10px;
}
.head-icon:hover{
  color: #5529A2;
}

::placeholder {
    color: #555;
    font-weight: 400;
    font-size: 14px;
    opacity: 1; /* Firefox */
}

#suscription-input{
    padding-bottom: 6px;
}



.dropdown{
	display: inline;
}

#scroll-customize::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	width: 0px !important;
    background-color: transparent !important;
}

#scroll-customize::-webkit-scrollbar {
    width: 0px !important;
    background-color: transparent !important;
}

#scroll-customize::-webkit-scrollbar-thumb
{
	border-radius: 0px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #transparent !important;
}

 

 /*date-picker*/

.ui-state-default, .ui-widget-content .ui-state-default{
    border: 1px solid #c5c5c500;
    background: #f6f6f600;
    font-weight: normal;
    color: #555;
    font-size: 14px;
    text-align: center;
}

.ui-state-default:hover{
    background: #755bbb;
    font-weight: normal;
    color: #fff;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-radius: 0px !important; 
}

.ui-datepicker {
    width: 17em;
    /* padding: .2em .2em 0; */

}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .4em 0;
}
.ui-datepicker-prev-hover{
	left:0px !important;
}
.ui-widget-header {
     border: 0px solid #dddddd; 
    background: #f1e9ff;
    color: #333333;
    font-weight: bold;
}
.ui-datepicker {
    padding:  0px;
}

.ui-widget.ui-widget-content {
     border: 0px solid #c5c5c5; 
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.17);
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    margin-top: -4px;
}


@media(min-width: 1200px)and (max-width: 1400px) {


.report-completed{    
     display: none; 
 }

.title-list li {
    display: block;
    padding: 8px 20px;
    font-size: 16px;
    margin-bottom: 10px;
}


.button-suptxt {
    color: #744BBB;
    font-size: 14px;
    display: block;
    padding-left: 10px;
    vertical-align: middle;
    margin-top: 5px;
}


.title-button {
    padding: 0px 0px 8px 20px;
    outline: none;
    margin-top: -1vh;
}



}




@media(min-width: 992px) and (max-width: 1200px){

.title-list li {
    padding: 8px 14px !important;
	font-size: 15px !important;
}
.side-title {
    font-size: 20px !important;
}

.button-suptxt {
    color: #744BBB;
    font-size: 14px;
    display: block;
    padding-left: 10px;
    vertical-align: middle;
    margin-top: 5px;
}



.report-completed{    
     display: none; 
 }

}


@media(min-width: 768px) and (max-width: 992px){


  .button-suptxt{
      display: none;
}
.title-list li {
    font-size: 14px;
}

.side-title {
    font-size: 18px;
}

}


@media(min-width: 300px) and (max-width: 767px){


  .button-suptxt{
      display: none;
}

}