body {
    font-family: 'Roboto', sans-serif !important;
    color: #333 !important;
}
.logo {
    height: 55px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}
header {
	position: fixed;
    border-bottom: solid #0000001C 1px;
    top: 0px;
    height: 60px;
}
.address-div {
    display: inline-block;
    text-align: right;
    margin-top: 0px;
    margin-right: 170px;
}
.left-aling-text,.footer-p {
    margin: -5px;
}
.master-div{
	margin-top: 0px;
	padding: 0px 50px;
}
h2{
    text-align: center;
    font-weight: 600;
}
h4{
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}
.issue-li{
    font-size: 13pt;
    font-weight: 600;
    margin-bottom: 5px;
}
.issue-list{
	font-weight: 500;
}
.company-info, .financial-info{
	font-size: 13pt;
    text-align: justify;
}
.financial-info{
	margin-top: 20px;
}
.footer-logo{
	height: 55px;
    margin-top: 0px;
    margin-right: 20px;
}
.footer-div{
	display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
}
ul{
	padding: 0px;
}
table{
    border-collapse: collapse;
	margin: 0px 20px;
    width: -webkit-fill-available;
    font-size: 13pt;
}
table, th, td {
    border: 1px solid black;
}

ol{
	font-size: 13pt;
}
.issue-detail{
	font-weight: 100;
	font-size: 13pt;
	text-align: justify;
}
.sub-days,.listing-date{
    font-weight: 600;
    font-size: 10pt;
}
.sub-days{
    margin-top: 25px;
}
footer{
	position: fixed;
	border-top: solid #0000001C 1px;
	height: 60px;
	bottom: 0px;
}
body{
	padding-top: 90px;
}