body {
    font-family: 'Roboto', sans-serif !important;
    color: #333 !important;
}

button,input,a,i,select{
	outline: none!important;
}

.logomenu-icon{
  margin-right: 0px !important;
}

a{
  color: #555;
}

.logo {
    height: 30px;
    padding-left: 15px;
}


.menu-icon{
	vertical-align: middle;
}

.side-menu,.side-menulogo{
	/*margin: 18px 0px;*/
	padding: 15px 15px;
	border-radius: 5px;
	background-color: transparent;
}
.side-menulogo {
    margin-left: 0px !important;
    margin-right: 0px;
    padding: 15px 15px;
     margin: 15px 0px;
}

.plr-0{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.p-0{
	padding: 0px !important;
}

.pl-0{
	padding-left: 0px;
}

.menu-txt{
	font-size: 18px;
    color: #555;
    text-decoration: none!important;
    vertical-align: middle;
}

.side-menu-active{
	background-color: #F1E9FF;
	font-weight: 500;
	margin-left: 8px;
  border-radius: 0px;
}

.side-menu-active a {
  color: #744BBB !important;
}

.side-menu:hover, .menu-txt:hover{
	color: #744BBB !important;

}
.sidemenu-spacing{
	margin: 20px 0px;
}


.sidemenu-spacing:{
	margin-top: 24px;
}

.side-menu span{
    display: inline-block;
    margin: 0px;
    padding-left: 15px;
}


.title {
    font-weight: 300;
    margin-left: 10px !important;
    margin: 0px;
    display: inline;
    cursor: default;
    font-size: 26px;
}
.custom-button{
	background-color: transparent !important;
	border:none; 
}

.round-buttons{
    background-color: #744BBB;
    padding: 10px;
    border-radius: 50%;
    vertical-align: middle;
    color: #fff;
}


.round-buttons:hover{
    background-color: #5529A2;
    transition: 0.2s;
}

.button-suptxt{
	color: #744BBB;
	font-size: 16px;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;
}


.title-spacing{
	margin-top: 55px;    
  padding-bottom: 15px;
  font-size: 26px;
}

.verticle-middle{
	vertical-align: middle;
}


.pointer-icon{
	cursor: pointer;
	vertical-align: text-bottom;
}


.pointer-icon:hover{
  color: #744bbb;
}

/*.arrow-down{
}*/

.form-button{
    background-color: #744bbb;
    border: none;
    padding: 10px 40px;
    border-radius: 30px;
    color: #fff;
}


.form-button:hover{
    background-color: #5529A2;
    border: none;
    padding: 10px 40px;
    border-radius: 30px;
    color: #fff;
}

.link-txt{
  color: #744BBB;
  font-size: 16px;
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: 500;
}

.link-icon{
  color: #744BBB;
  cursor: pointer;
}


.link-icon:hover, .link-txt:hover{
  color: #5529A2 !important;
}

.wrapper{
  padding: 0px;
}



#logout-menu{
  margin-top: 52vh !important;
}
/*

#logout-menu{
  top: 84vh;
    position: fixed;
    margin-bottom: 30px;
}*/

.canvas {
     left: 17.5%;
    right: 17.5%;
    position: fixed;
    width: 64.5%;
}

.side-bar {
   border-right: 1px solid #DDDEDE;
    height: 100%;
    position: fixed;
    width: 17.5%;
   }

.report-titlesbar {
    left: 82%;
    position: fixed;
    padding-top: 128px;
    width: 17.5%;
    height: 100%;
    border-left: 1px solid #d7d7d7;
    margin: 0px;  
   }

.main-canvas{
    left: 17.5%;
    position: fixed;
    width: 83.5%;
}


/*minibar active class*/


.minimain-canvas{
  left: 6%;
    width: 94%;
}


.minibar-active {
    width: 6% !important;
}

.minimenu-active span, .minibar-logo{
  display: none !important;
   
}

.minimenu-active {
        text-align: center;
        padding: 15px 0px !important;
}
/*
.minimenu-active#logout-menu{
  width: 4%;
}
*/
.minibaractive-canvas {
    left: 6% !important;
    right: 17.5% !important;
    width: 76% !important;
} 

/*end*/


.popup-header {
    padding: 15px;
     border: none !important; 
}
.popup-dialog{
    display: flex;
    align-items: center;
    height: 80vh;
}

.popup-card {
    width: 400px;
    background-color: #fff;
    border-radius: 0px;
    box-shadow:none;
    padding: 0px;
    margin: 10%;
}
.popup-text{
    margin: 0px;
}

.popup-body{
     margin: 0px; 
     border-bottom: none; 
    padding: 0px 20px 26px;
}

.popup-img{
    height: 65px;
}

.text-head{
    font-size: 18px;
}

.sub-text{
    padding-top:10px; 
    font-size: 16px;
}

.popup-btn{
    background-color:#F2F2F2;
    border: none;
    padding: 10px 26px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}


.popup-btn:hover{
    background-color:#d6d6d6;
    transition: 0.2s;   
}

.close{
    margin-right: 2px;
    color: #c5c5c5;
    opacity: 1;
    outline: none;
}

.close:hover{
    color: #ddd;
        opacity: 1;
}

.vert-moredd{
      top: auto;
    right: 3%;
    left: auto;
    border: none;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 2px 12px rgba(0,0,0,.175);
    transition: 0.3s;
    
}
.vert-moredd li{

    border-bottom: 1px solid #DDDEDE;
    font-size: 16px;

  }


.vert-moredd li a{
      padding: 10px;
    color:#555;
  }

.vert-moredd li a:hover{
    color:#fff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.2s;
}
.vert-moredd li:hover{
background-color: #7444bb;
    color: #fff;
    transition: 0.1s;
}


.recent-icon{
  font-size: 28px;
    padding: 5px;
    color: #777;
    cursor: pointer;
}

.recent-icon:hover{
  color: #744BBB;
  /*font-size: 28px;*/
    /*background-color: #F1E9FF;*/
}



.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, 
.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: transparent;
    border-color: transparent;
     outline: none;
     box-shadow: none;
}


#global-scroller::-webkit-scrollbar-track
{
  border-radius: 5px !important;
  -webkit-box-shadow: none;
  width: 4px !important;
    background-color: #F1E9FF !important;
    opacity: 0.5;
    height: 4px !important;
}

#global-scroller::-webkit-scrollbar {
    width: 4px !important;
    background-color: transparent !important;
    height: 4px !important;
}

#global-scroller::-webkit-scrollbar-thumb
{
  border-radius: 5px !important;
  width: 4px !important;
  -webkit-box-shadow: none;
  background-color: #744bbb !important;
  height: 4px !important;
}


.recent-icondd{
  background: none;
    border: none;
    padding: 0px;
    outline: none;
}


#title-border {
  border-bottom: 1px solid #DDDEDE;
}

a:focus{
    color:#744bbb ;
    text-decoration: underline;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



@media(min-width: 992px) and (max-width: 1300px){

.side-menu span {
    /*display: block;*/
    margin: 0px;
    padding-top: 3px;
    padding-left: 0px;
}

.menu-txt {
    font-size: 16px;
}

/*.logo {
    height: 30px;
    padding-left: 5px;
}*/
.side-menu span {
    display: inline-block;
    margin: 0px;
    padding-left: 10px;
}
.side-bar {
    border-right: 1px solid #DDDEDE;
    height: 100%;
    position: fixed;
    width: 21.5%;
}
.main-canvas {
    left: 21.5%;
    position: fixed;
    width: 78.5%;
}

.minimain-canvas {
    left: 6%;
    width: 94%;
}
.canvas {
    left: 21.5%;
    right: 17.5%;
    position: fixed;
    width: 60.5%;
}
}



@media(min-width: 768px) and (max-width: 991px){
.side-menulogo {
    padding-right: 0px;
}
.menu-txt {
    font-size: 14px;
}
/*
.side-menu span {
    display: block;
    margin: 0px;
    padding-top: 3px;
    padding-left: 0px;
}
*/
/*.logo {
    height: 23px;
    padding-left: 0px;
}*/
.side-bar {
    border-right: 1px solid #DDDEDE;
    height: 100%;
    position: fixed;
    width: 24.5%!important;
}
.main-canvas {
    left: 24.5% ;
    position: fixed;
    width: 76.5% ;
}
.side-menu span {
    display: inline-block;
    margin: 0px;
    padding-left: 5px;
}
.minibar-active {
    width: 8% !important;
}
.minimain-canvas {
    left: 8%;
    width: 92%;
}

.canvas {
    left: 24.5%;
    right: 17.5%;
    position: fixed;
    width: 57.5%;
}

.minibaractive-canvas {
    left: 8% !important;
    right: 17.5% !important;
    width: 74% !important;
}
}

@media(min-width: 600px) and (max-width: 767px){
.canvas {
    left: 12%!important;
    position: fixed;
    width: 64.5%!important;
}
.report-titlesbar {
    left: 76.5%!important;
     width: 23.5%!important;

  }

  .side-title {
    font-size: 20px!important;
}

.side-menu span {
    display: block;
    margin: 0px;
    padding-top: 3px;
    padding-left: 0px;
}
    
}


@media(min-width: 500px) and (max-width: 600px){
.canvas, .minibaractive-canvas {
    left: 15%!important;
    position: fixed;
    width: 86.5%!important;
}
.report-titlesbar {
   display: none;

  }

}


@media(min-width: 350px) and (max-width: 500px){
.canvas, .minibaractive-canvas {
    left: 15%!important;
    position: fixed;
    width: 86.5%!important;
}
.report-titlesbar {
   display: none !important;

  }

}




@media(min-width: 300px) and (max-width: 350px){
.canvas, .minibaractive-canvas {
    left: 18%!important;
    position: fixed;
    width: 86%!important;
}
.report-titlesbar {
   display: none;

  }

}


@media(min-width: 500px) and (max-width: 767px){

.side-bar, .minibar-active{
      width: 12% !important;    
      padding: 0px 15px;
}

.minimenu-active span, .minibar-logo, .logo  {
    display: none !important;
}

.minimenu-active, .side-menulogo, .sidemenu-spacing {
        text-align: center;
        padding: 15px 0px !important;
}


.minimenu-active span, .minibar-logo, .logo, .side-menu span  {
    display: none !important;
}

.main-canvas {
    left: 12%;
    position: fixed;
    width: 88%;
  }



}


@media(min-width: 350px) and (max-width: 500px){
.side-bar, .minibar-active{
  width: 15% !important;
  padding: 0px 10px;
}

.minimenu-active span, .minibar-logo, .logo  {
    display: none !important;
}

.minimenu-active, .side-menulogo, .sidemenu-spacing {
    text-align: center;
    padding: 15px 0px !important;
}


.minimenu-active span, .minibar-logo, .logo, .side-menu span  {
    display: none !important;
}

.main-canvas {
    left: 15%;
    position: fixed;
    width: 85%;
}
.menu-icon {
    vertical-align: middle;
    font-size: 22px;
}

}



@media(min-width: 300px) and (max-width: 350px){
.side-bar, .minibar-active{
  width: 18% !important;
  padding: 0px 8px;
}

.minimenu-active span, .minibar-logo, .logo  {
    display: none !important;
}

.minimenu-active, .side-menulogo, .sidemenu-spacing {
    text-align: center;
    padding: 15px 0px !important;
}


.minimenu-active span, .minibar-logo, .logo, .side-menu span  {
    display: none !important;
}

.main-canvas {
    left: 18%;
    position: fixed;
    width: 82%;
}
.menu-icon {
    vertical-align: middle;
    font-size: 22px;
}

.title {
    font-size: 20px !important;
    margin-left: 0px !important;
}

.table thead tr th, .table tbody tr td {
    font-size: 12px!important;
    padding: 4px 8px !important;
}


}



@media(min-width: 300px) and (max-width: 767px){
.form-wrapper form{
  padding-left: 0px;
}

}


