
.table-spacing{
/*	margin-top: 20px;*/
	width: 99.9%;
}
.scroll {
    height: 87vh;
    overflow-y: scroll;
}

.active-header{
	background-color: #F1E9FF;
	font-weight: 500;
		color: #744BBB !important;
}


.table thead tr th{
    padding: 18px 0px;
    border-top: 1px solid  #DDDEDE;	
    border-bottom: 1px solid  #DDDEDE; 
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 14%;
    vertical-align: middle;
}


.table tr th:first-child{
	text-align: left;	
	padding-left: 25px !important;	
}


.table tbody tr td{
	padding: 18px 0px !important;
    border-bottom: 1px solid  #DDDEDE !important; 
    font-size: 15px !important;
    text-align: center !important;
    width: 14% !important;
    vertical-align: middle;

}

.table tr td:first-child{
		text-align: left !important;
        padding-left: 25px !important;
}

.edit-icon{
    font-size: 24px;
    vertical-align: text-bottom;
    cursor: pointer;
    color: #dedede;
}

.edit-icon:hover{
    color: #744BBB;
    transition: 0.1s;
    }

/*#add-listed-ipo{
    font-size: 16px;
    margin-left: 20px;
}

#add-listed-ipo .material-icons{
    vertical-align: middle;
    font-size: 30px !important;
}

#add-listed-ipo:hover{
    color: #744BBB !important;
}
*/

.modal-title{
    text-align: center !important;
    margin-top: 5px;
}

.input-mod{
  font-size:16px;
  font-weight: 500;
  padding:5px 10px 10px 0px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #555;
  background-color: transparent !important;

}
.input-mod:focus{ 
    outline:none; 
}

.label {
  color:#555; 
  font-size:14px;
  font-weight:400 ;
  position:absolute;
  top:10px;
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
  padding-left: 0px !important;
    pointer-events: none;
}

.input-mod:focus ~ .label,.input-mod:valid ~ .label{
  top:-15px;
  font-size:12px;
  font-weight: 500;
  color:#744BBB;  
  border-bottom:0px;
}

.bar    { 

  position:relative; 
  display:block; 
  width:100%; 
}

.bar:before, .bar:after{
  content:'';
  height:2px; 
  width:0px;
  bottom:0px; 
  position:absolute;
  background:#744BBB; 
}

.input-mod:focus ~ .bar:before, .input-mod:focus ~ .bar:after {
  width:100%;
}


.lastgrp-spacing{
    margin-top:10px;
    margin-bottom: 20px !important;
}

.grp-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-control{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    padding: 10px 0px;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 8px 5px !important;
}

select option {
    font-size: 14px;
    padding: 10em;
    border-bottom: 1px solid;
}

option:hover{
    color: #fff;
  background-color:#744BBB; 
}


option:disabled, select[disabled] > option {
   display: none;
}

.custom-button{
    padding: 0px;
}

@media(min-width: 992px) and (max-width: 1300px){

.table thead tr th, .table tbody tr td{
    padding: 18px 0px !important;
}

.table thead tr th{
    font-size: 14px;
}

.logo {
    height: 30px;
    padding-left: 5px;
}

.dropdown-icon {
     margin-right: 0px; 
}

.table tr th:first-child, .table tr td:first-child{
    text-align: left;
    padding-left: 20px !important;
}


}


@media(min-width: 768px) and (max-width: 992px){

.table thead tr th, .table tbody tr td{
    font-size: 14px!important;
    padding: 6px 8px !important;
}

.table thead tr th{
    font-size: 14px;
}
.dropdown-icon {
     margin-right: 0px; 
}
.round-buttons {

    font-size: 18px;
}

.button-suptxt {
font-size: 12px;
}

.table tbody tr td {
    font-size: 14px !important;
}

}



@media(min-width: 500px) and (max-width: 767px){

.button-suptxt{
  font-size: 12px;
}

.table thead tr th, .table tbody tr td{
    font-size: 14px!important;
    padding: 6px 8px !important;
}

.table tr th:first-child, .table tr td:first-child{
    padding-left: 15px !important;
}

.title{
    font-size: 22px !important;
}

#logout-menu {
    margin-left: 8px;
}
.round-buttons {

    font-size: 18px;
}
.edit-icon {
    font-size: 18px;
  }


}


@media(min-width: 500px) and (max-width: 650px){
  .button-suptxt{
      display: none;
}

}
@media(min-width: 350px) and (max-width: 500px){
.button-suptxt{
      display: none;
}

.table thead tr th, .table tbody tr td{
    font-size: 14px!important;
    padding: 6px 8px !important;
}

.table tr th:first-child, .table tr td:first-child{
    padding-left: 15px !important;
}

.title{
    font-size: 22px !important;
}

#logout-menu {
    margin-left: 8px;
}
.round-buttons {
    font-size: 20px;
    padding: 9px;
}
.edit-icon {
    font-size: 18px;
  }

}


@media(min-width: 300px) and (max-width: 350px){

.button-suptxt{
      display: none;
}

.table thead tr th, .table tbody tr td{
    font-size: 14px!important;
    padding: 6px 8px !important;
}

.table tr th:first-child, .table tr td:first-child{
    padding-left: 15px !important;
}

.title{
    font-size: 22px !important;
}

#logout-menu {
    margin-left: 8px;
}
.round-buttons {
    font-size: 16px;
    padding: 9px;
}

.edit-icon {
    font-size: 18px;
  }

}