.create-card{
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0px 3px 10px #cccccc8c;
}

.create-card:hover{
    box-shadow: 0px 3px 20px #ccccccac;
    transition: 0.3s;
}

.report-txt{
	font-size: 20px;
	color: #744BBB;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;

}

.forward-icon{
    font-size: 38px;
    color: #744BBB;
    font-weight: 500;
    padding: 5px;
}

.round-icon {
    background-color: #744BBB;
    padding: 13px;
    border-radius: 50%;
    vertical-align: middle;
    color: #fff;
}

.create-txt{
	color: #744BBB;
}

.forward-icon:hover, .create-txt:hover{
	color: #5529A2;
}

.recent-headtext{
    margin-top: 40px;
    margin-bottom: 30px;
}

.recent-datetext{
	margin:20px 0px;
    font-size: 16px;
}

.recent-list{
    padding: 12px 30px;
	border: 1px solid #DDDEDE;
	margin: 15px 0px;
    margin-right: 10px;
}
/*
.recent-list:hover {
    padding: 12px 30px;
    border: 1px solid #744bbb;
    transition: 0.2s;
    color: #744bbb;
}*/


.recent-wrapper{
	height: 50vh;
    overflow-y: scroll;
}

.upward{
	background-color: #f7f7f7;
    padding: 15px;
    font-size: 30px;
    color: #555;
    top: 71vh;
    position: relative;
    cursor: pointer;
}

.upward:hover{
	background-color: #DDDEDE;
	color: #744bbb;
	transition: 0.3s;
	}

.recent-txt{
	font-size: 20px;
	color: #555;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;
      font-weight: 400;
}


.recent-icondd{
	background: none;
    border: none;
    padding: 0px;
    outline: none;
}


.recent-icondd:hover{
	background: transparent;
}

.more-submitbtn{
  background-color: transparent;
    border: none;
        padding: 3px 20px;
    border-radius: 0px;
}



@media(min-width: 500px) and (max-width: 767px){

.recent-txt {
    font-size: 18px;
    color: #555;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 60%;
    margin: 0px;
}

.title{
    font-size: 22px !important;
}


}

@media(min-width: 350px) and (max-width: 500px){
.recent-icon {
    font-size: 24px;
     padding: 0px; 

}
.create-card {
    padding: 15px 15px;
}

.round-icon {
    padding: 10px !important;
    font-size: 22px;
}

.recent-txt {
    font-size: 16px;
    color: #555;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 60%;
    margin: 0px;
}
.forward-icon {
    font-size: 34px;
}

.report-txt {
    font-size: 15px;
    padding-left: 5px;
    width: 42%;
}
.recent-list {
    padding: 12px 8px;
}

.card-spacing{
    padding: 0px; 
}

.title{
    font-size: 22px !important;
}

}


@media(min-width: 300px) and (max-width: 350px){
.recent-icon {
    font-size: 24px;
     padding: 0px; 

}
.create-card {
    padding: 15px 15px;
}

.round-icon {
    padding: 10px !important;
    font-size: 22px;
}

.recent-txt {
    font-size: 14px;
    color: #555;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 60%;
    margin: 0px;
}
.forward-icon {
    font-size: 34px;
}

.report-txt {
    font-size: 15px;
    padding-left: 5px;
    width: 42%;
}
.recent-list {
    padding: 12px 8px;
}

.card-spacing{
    padding: 0px; 
}

.title{
    font-size: 22px !important;
}
}