.scroll{
    overflow: scroll;
    height: 110vh;
}
.table thead tr th{
    padding: 18px 15px;
    border-top: 1px solid  #DDDEDE;	
    border-bottom: 1px solid  #DDDEDE; 
    font-size: 18px;
    font-weight: 500;
    text-align: center;
        width: 13%;
       border-top: none; 
       vertical-align: middle !important;
}


.table tr th:first-child{
	text-align: left;	
	padding-left: 25px;	
}



.table tr td{
	padding: 18px 15px;
    border-bottom: 1px solid  #DDDEDE; 
    font-size: 16px;
    text-align: center;
    width: 13%;
       vertical-align: middle !important;
}

.table tr td:first-child{
		text-align: left;
  padding-left: 25px; 
}


#add-person{
	    font-size: 20px;
}





.switch-btn {
    position: absolute;
    display: inline-block;
    height: 22px;
    width: 22px;
    background-color: #909090;
    border-radius: 49px;
    vertical-align: middle;
    box-shadow: 0 2px 8px rgba(25, 25, 25, 0.34);
    cursor: pointer;
    opacity: 1.0;
    margin-top: -4px;
    /* float: left; */
    transition: 0.2s;
    left: -2px;
}
.switch-bg {
    position: relative;
    background-color: #98989860;
    width: 44px;
    height: 13px;
    display: inline-block;
    border-radius: 26px;
    margin-top: 13px;
    margin-left: 60px;
    transition: 0.2s;
}

.switch-btn:hover{
    background-color: #777;
    transition: 0.2s;
    box-shadow: 0 2px 15px rgba(25, 25, 25, 0.34);
}



input[type=radio]:checked ~ .switch-bg{
	
	background-color: #744bbb60;
    transition: 0.2s;
}

input[type=radio]:checked ~ .switch-bg  .switch-btn{

    left: 26px;
    background-color: #744bbb;
    transition: 0.2s;
}

input[type=radio]:checked ~ .switch-bg  .switch-btn:hover{
     background-color: #5529A2;
     box-shadow: 0 2px 15px rgba(25, 25, 25, 0.34);
}


.notificatio-radio{
	display: none;
}




.input-mod{
  font-size:16px;
  font-weight: 500;
  padding:5px 10px 10px 0px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #555;
  background-color: transparent !important;

}
.input-mod:focus{ 
	outline:none; 
}

.label {
  color:#555; 
  font-size:14px;
  font-weight:400 ;
  position:absolute;
  top:10px;
  transition:0.3s ease all; 
  -moz-transition:0.3s ease all; 
  -webkit-transition:0.3s ease all;
  padding-left: 0px !important;
	pointer-events: none;
}

.input-mod:focus ~ .label,.input-mod:valid ~ .label{
  top:-15px;
  font-size:12px;
  font-weight: 500;
  color:#744BBB;  
  border-bottom:0px;

}

.bar    { 

  position:relative; 
  display:block; 
  width:100%; 
}

.bar:before, .bar:after{
  content:'';
  height:2px; 
  width:0px;
  bottom:0px; 
  position:absolute;
  background:#744BBB; 
}

.input-mod:focus ~ .bar:before, .input-mod:focus ~ .bar:after {
  width:100%;
}


.grp-spacing{
  margin-top: 10px;
  margin-bottom: 10px;
}

.lastgrp-spacing{
	margin-top:10px;
	margin-bottom: 20px !important;
}

.notify-txt{
	font-size: 16px;
	font-weight: 400;
}


.dropdown-icon{
    margin-right: 25px;
}

.button-suptxt{
  font-size: 14px ;
}

@media(min-width: 300px) and (max-width: 500px){
.button-suptxt{
      display: none;
}
.table thead tr th, .table tbody tr td{
    font-size: 14px!important;
    padding: 6px 8px !important;
}

.table tr th:first-child, .table tr td:first-child{
    padding-left: 15px !important;
}

.title{
    font-size: 22px !important;
}
.switch-bg {
    width: 26px;
    height: 12px;
    margin-top: 13px;
     margin-left: 0px; 
}


input[type=radio]:checked ~ .switch-bg .switch-btn {
    left: 18px;
}
.switch-btn {
   
    height: 18px;
    width:18px;
    
    margin-top: -3px;
 
}
.dropdown-icon {
    margin-right: 0px;
    font-size: 22px;

}


.round-buttons {
    font-size: 20px;
    padding: 9px;
}
}

@media(min-width: 500px) and (max-width: 992px){
.button-suptxt{
  font-size: 12px;
}
.round-buttons {

    font-size: 18px !important;
}
.table thead tr th, .table tbody tr td{
    font-size: 16px!important;
    padding: 6px 8px !important;
}

.table tr th:first-child, .table tr td:first-child{
    padding-left: 15px !important;
}

.title{
    font-size: 22px !important;
}
.switch-bg {
    width: 26px;
    height: 12px;
    margin-top: 13px;
     margin-left: 0px; 
}
input[type=radio]:checked ~ .switch-bg .switch-btn {
    left: 18px;
}
.switch-btn {
   
    height: 18px;
    width: 18px;
    left: -8px;
    margin-top: -3px;
 
}
.switch-bg {

    margin-left: 30px;

    }

.dropdown-icon {
    margin-right: 0px;
    font-size: 22px;

}
}


@media(min-width: 300px) and (max-width: 767px){
.form-wrapper form{
  padding: 0px;
}

.switch-btn {
   
    height: 18px;
    width: 18px;
    left: -8px;
    margin-top: -3px;
 
}
}

@media(min-width: 300px) and (max-width: 767px){

.button-suptxt{
      display: none !important;
}
}