/*#upcoming-spacing{
	    margin-top: 20px;
}*/

.table-spacing{
/*    margin-top: 20px;*/
    width: 99.9%;
}
.scroll {
    height: 87vh;
    overflow-y: scroll;
}


.table thead tr th{
    padding: 18px 0px;
    border-top: 1px solid  #DDDEDE;	
    border-bottom: 1px solid  #DDDEDE; 
    font-size: 16px;
    font-weight: 500;
    text-align: center;
        width: 14%;
    vertical-align: middle;
}

.table tr th:first-child{
	text-align: left;	
	padding-left: 15px;	
	width: auto !important;
    padding-left: 25px;

}
/*
table tr th:last-child{	
		width: auto !important;
}
*/
.table tbody tr td{
	padding: 18px 0px !important;
    border-bottom: 1px solid  #DDDEDE !important; 
    font-size: 15px !important;
    text-align: center !important;
    width: 14% !important;
    vertical-align: middle;

}

.table tr td:first-child{
		text-align: left !important;
    width: auto !important;
    padding-left: 25px !important;

}
/*
table tr td:last-child {
    width: auto !important;
}
*/
.active-header{
	background-color: #F1E9FF;
	font-weight: 500;
		color: #744BBB !important;
}
.more-icon{

cursor: pointer;

}


.recent-icon{
  font-size: 28px;
    padding: 0px;
    color: #777;
    cursor: pointer;
}

.recent-icon:hover{
  color: #744BBB;
  font-size: 28px;
    /*background-color: #F1E9FF;*/
}


.dropdown-icon{
    margin-right: 25px;
}



@media(min-width: 992px) and (max-width: 1300px){

.table thead tr th .table tbody tr td{
    padding: 18px 0px !important;
}

.table thead tr th{
    font-size: 14px;
}

.logo {
    height: 30px;
    padding-left: 5px;
}

.dropdown-icon {
     margin-right: 0px; 
}
}


@media(min-width: 768px) and (max-width: 992px){


.table thead tr th{
    font-size: 14px;
}
.dropdown-icon {
     margin-right: 0px; 
}
.round-buttons {

    font-size: 18px;
}

.button-suptxt {
font-size: 12px;
}

.table tbody tr td {
    font-size: 14px !important;
}

}



@media(min-width: 500px) and (max-width: 767px){

.button-suptxt{
      display: none;
}

.table thead tr th, .table tbody tr td{
    font-size: 14px!important;
    padding: 6px 8px !important;
}

.table tr th:first-child, .table tr td:first-child{
    padding-left: 15px !important;
}

.title{
    font-size: 22px;
}

#logout-menu {
    margin-left: 8px;
}
.round-buttons {

    font-size: 18px;
}


}


@media(min-width: 350px) and (max-width: 500px){
.button-suptxt{
      display: none;
}

.table thead tr th, .table tbody tr td{
    font-size: 14px!important;
    padding: 6px 8px !important;
}

.table tr th:first-child, .table tr td:first-child{
    padding-left: 15px !important;
}

.title{
    font-size: 22px;
    margin-left: 3px !important;
}

#logout-menu {
    margin-left: 8px;
}
.round-buttons {
    font-size: 20px;
    padding: 9px;
}

}


@media(min-width: 300px) and (max-width: 350px){

.button-suptxt{
      display: none;
}

.table thead tr th, .table tbody tr td{
    font-size: 14px!important;
    padding: 6px 8px !important;
}

.table tr th:first-child, .table tr td:first-child{
    padding-left: 15px !important;
}

.title{
    font-size: 22px;
    margin-left: 3px !important;
}

#logout-menu {
    margin-left: 8px;
}
.round-buttons {
    font-size: 16px;
    padding: 9px;
}



}